<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario para graficos</title>
</head>
<body>
    <h1>Ingrese el número de usuarios criticos que han pulsado más del 50% de veces correo de spam:</h1>
    <form action="/grafico2-1" method="post">
        <input type="text" name="data" required>
        <button type="submit">Generar gráfico</button>
    </form>
    <br>
    <h1>Ingrese el número de usuarios criticos que han pulsado menos del 50% de veces correo de spam:</h1>
    <form action="/grafico2-2" method="post">
        <input type="text" name="data" required>
        <button type="submit">Generar gráfico</button>
    </form>
</body>
</html>