<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Índice de Ejercicios</title>
</head>
<body>
    <h1>Índice de Ejercicios</h1>
    <ul>
        <li><a href="/EJ4/1">Ejercicio 4 - Gráfico 1 Práctica1</a></li>
        <li><a href="/EJ4/2">Ejercicio 4 - Gráfico 2 Práctica1</a></li>
        <li><a href="/EJ4/3">Ejercicio 4 - Gráfico 3 Práctica1</a></li>
        <li><a href="/EJ4/4">Ejercicio 4 - Gráfico 4 Práctica1</a></li>
        <br>
        <li><a href="/EJ1">Ejercicio 1</a></li>
        <li><a href="/EJ2">Ejercicio 2</a></li>
        <li><a href="/EJ3">Ejercicio 3</a></li>
        <li><a href="/GeneradorPDF_Ej4">Generador de PDF</a></li>
        <li><a href="/Noticias_Ej4">Noticas sobre Ciberseguridad (API)</a></li>
        <li><a href="/EJ5">Ejercicio 5</a></li>
    </ul>
</body>
</html>